/* .main_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top_div {
    display: flex;
    justify-content:center;
}
input {
    margin: 5px;
}
button {
    width: 200px;
    height: 40px;
    margin: 5px;
}
button:hover {
    color: blue;
    background-color: skyblue;
    cursor: pointer;
}
table {
    text-align: center;
    width: 100%;
}

.Fetched_Todos {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-radius: 10px;
}
th {
    height: 60px;
    background-color: gray;
    color: white;
}
td {
    height: 30px;
}
[data-tag=true] {
    background-color: green;
    color: white;
}

[data-tag=false] {
    background-color:red;
    color: white;
}

[data-tag=true]:hover{
    color: blue;
    background-color: skyblue;
}
[data-tag=false]:hover{
    color: blue;
    background-color: skyblue;
}  */